{% extends 'base.html' %}

{% block content %}

<div class="container-wrapper">
    <div class="hero-img">
        <img class="hero-img" src="/static/images/rest7.webp" alt="restaurant image">
    </div>
    <div class="content-wrapper main-column">
        <div class="text-area content">
            <!-- Title and about us sections -->
            <h1 class="text-center">WELCOME</h1>
            <div>
                <p>
                    
                </p>
                <p>
                    
                </p>

                <!-- Booking and menu buttons -->
                <div class="d-grid gap-2 col-6 mb-3 mx-auto">
                </div>

                <!-- <h2 class="text-center">Find Us</h2> -->
                <!-- Map -->
                <!-- <div class="mapouter pb-3">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas"
                            src="https://maps.google.com/maps?q=torr%20head&t=&z=13&ie=UTF8&iwloc=&output=embed">
                        </iframe>
                    </div> -->
                    <!-- Opening hours -->
                    <!-- <div class="opening text-center form-style">
                        <p><strong>Lunch Opening Times</strong></p>
                        <ul>
                            <li>Monday to Saturday 12pm – 3.45pm</li>
                            <li>Sunday 12pm - 4pm</li>
                        </ul>
                        <p><strong>Dining Opening Times</strong></p>
                        <ul>
                            <li>Monday 4pm - 10pm</li>
                            <li>Tuesday 4pm - 10pm</li>
                            <li>Wednesday 4pm - 10pm</li>
                            <li>Thursday 4pm - 10pm</li>
                            <li>Friday 4pm - 10pm</li>
                            <li>Saturday 4pm - 10pm</li>
                            <li>Sunday 4pm - 10pm</li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}